%h4
  = surround '', "% active in the last week (#{@weekact} out of #{@weekina})" do
    = ((@weekact.to_f / (@weekact + @weekina).to_f) * 100.0).round(2)

%h6 Ordered from Most-Recently-Active

= will_paginate @users

.sysusers{:class => 'span-24'}
  - @users.each do |user|
    .sysuser{:class => 'span-24 respond'}
      .name{:class => 'span-8'}
        != user.goodly_html
        - # = link_to user.name, users_path(:userid => user.id)
        - # %sup
        - #   = user.code
      .lastact{:class => 'span-8'}
        = user.last_contribution
        = surround '(', ' ago)' do
          = time_ago_in_words user.last_contribution
      .metadata{:class => 'span-8 last'}
        - first = true
        - user.user_tags.each do |tag|
          - unless first then
            &bull;
          = link_to tag.name, tag_path(:name => tag.name)
          - first = false
        = button_to %[Delete #{user.name}], delete_user_path(user), {:confirm => %[#{user.name} will be deleted forever. Are you sure?]}

%hr/

%h6 Dormant

= will_paginate @lost, :param_name => :spage

.sysusers{:class => 'span-24'}
  - @lost.each do |user|
    .sysuser{:class => 'span-24 respond'}
      .name{:class => 'span-8'}
        - # != user.goodly_html
        = link_to user.name, users_path(:userid => user.id)
        - #%sup
        - #  = user.code
      .number{:class => 'span-8'}
        - if user.code then
          = user.code
          = surround '(', ')' do
            = link_to user.number, messaging_path(:dest => user.number)
        - else
          = link_to user.number, messaging_path(:dest => user.number)
      .metadata{:class => 'span-8 last'}
        - first = true
        - user.user_tags.each do |tag|
          - unless first then
            &bull;
          = link_to tag.name, tag_path(:name => tag.name)
          - first = false
        = button_to %[Delete #{user.name}], delete_user_path(user), {:confirm => %[#{user.name} will be deleted forever. Are you sure?]}

%hr/

%h6 Repeated Codes

.sysusers{:class => 'span-24'}
  - @reps.each do |user|
    - unless  user.nil? then
      .sysuser{:class => 'span-24 respond'}
        .name{:class => 'span-8'}
          != user.descriptive_html
          - # = link_to user.name, users_path(:userid => user.id)
          - #%sup
          - #  = user.code
        .number{:class => 'span-8'}
          - if user.code then
            = user.code
            = surround '(', ')' do
              = link_to user.number, messaging_path(:dest => user.number)
          - else
            = link_to user.number, messaging_path(:dest => user.number)
        .metadata{:class => 'span-8 last'}
          - first = true
          - user.user_tags.each do |tag|
            - unless first then
              &bull;
            = link_to tag.name, tag_path(:name => tag.name)
            - first = false
          = button_to %[Delete #{user.name}], delete_user_path(user), {:confirm => %[#{user.name} will be deleted forever. Are you sure?]}

%hr/

%h6 Orphaned VHTs

.sysusers{:class => 'span-24'}
  - @orph.each do |user|
    .sysuser{:class => 'span-24 respond'}
      .name{:class => 'span-8'}
        != user.descriptive_html
        - # = link_to user.name, users_path(:userid => user.id)
        - #%sup
        - #  = user.code
      .number{:class => 'span-8'}
        - if user.code then
          = user.code
          = surround '(', ')' do
            = link_to user.number, messaging_path(:dest => user.number)
        - else
          = link_to user.number, messaging_path(:dest => user.number)
      .metadata{:class => 'span-8 last'}
        - first = true
        - user.user_tags.each do |tag|
          - unless first then
            &bull;
          = link_to tag.name, tag_path(:name => tag.name)
          - first = false
        = button_to %[Delete #{user.name}], delete_user_path(user), {:confirm => %[#{user.name} will be deleted forever. Are you sure?]}
