.jarring
  Change Admin Passwords for
  = @client.name

- if flash[:error] then
  .error
    = flash[:error]

= form_tag do
  = field_set_tag do
    Current Admin Password:
    %br/
    = password_field_tag :oldpass, '', {:size => 55}
  = field_set_tag do
    New Admin Password:
    %br/
    = password_field_tag :newpass, '', {:size => 55}
    .subtitle
      Leave this field empty if you do <em>not</em> want to change the admin password.
  = field_set_tag do
    New Bio-Statistician Password:
    %br/
    = password_field_tag :biopass, '', {:size => 55}
    .subtitle
      Leave this field empty if you do <em>not</em> want to change the bio-statistician’s password.
  = submit_tag 'Change Password'

.h4 Data Batches
= will_paginate @batches
.batches{:class => 'span-20'}
- @batches.each do |batch|
  .batch{:class => 'span-10'}
    = link_to batch.heading, batch.url
    %br/
    %small
      = batch.created_at
  .batch{:class => 'span-10 last'}
    %small
      = batch.filename
      = surround '(', ')' do
        = batch.csv_batch_rows.count
        rows
    %br/
    = form_tag delete_batch_path, {method:'POST', style: 'display: inline'} do
      %input{type: 'hidden', value: batch.id, name: 'who'}/
      %input{type: 'submit', value: 'Delete'}/
