%h4
  = @dist.name
  District

%h5 Bio-Statistician Details
= form_tag update_bio_pass_path, method: 'POST' do
  = hidden_field_tag :dist, @dist.id
  %fieldset
    E-Mail Address:
    %br/
    = text_field_tag :email, @dist.email
  %fieldset
    Password:
    %br/
    = text_field_tag :password, @dist.password
  %fieldset
    = submit_tag 'Change Details'

%hr/

%h4
  VHTs in
  = @dist.name

%ol
  - @dist.system_users.order('name ASC').each do |vht|
    %li
      - # != link_to vht.goodly_html, users_path(vht.id)
      != vht.goodly_html
      = surround '(', ')' do
        = vht.number
