.jarring
  = @client.name
  Feedback Message Queue

= form_tag download_feedbacks_path do
  %input{:type => 'text', :name => :startat, :class => :dater, :value => ((Time.now - 1.month).strftime('01/%m/%Y'))}/
  to
  %input{:type => 'text', :name => :endat, :class => :dater, :value => (Time.now.strftime('01/%m/%Y'))}/
  %input{:type => 'submit', :value => 'Download Feedbacks'}/
%form{:action => send_messages_path}
  %input{:type => 'submit', :value => 'Send Now'}/
%table
  = feedb_table_header
  %tbody
    - @feedback.each do |msg|
      = feedb_table_row msg
  %tfoot
    = will_paginate @feedback
