.publishers
  - @pubs.each do |pub|
    .publisher
      .pubname
        %a{:href => publisher_path(:id => pub.id)}
          = pub.name
      .subtitle
        %a{:href => pub.address}
          = pub.address
      .apps
        - pub.applications.where(:client_id => session[:client]).each do |app|
          .app
            .appname
              %a{:href => application_path(:id => app.id)}
                = app.name
            .descr #{app.description}
%hr/
.jarring Add a Questionnaire
= form_tag app_create_path do
  - pubs = Publisher.all
  - if pubs.length > 1 then
    %select{:name => 'publisher'}
      - pubs.each do |pub|
        %option{:value => pub.id}
          = pub.name
  - else
    = hidden_field_tag :publisher, pubs.first.id
  = field_set_tag do
    General name of the questionnaire:
    %br/
    = text_field_tag :name, '', {:size => 55}
  = field_set_tag do
    Very short description of the questionnaire (as guidance for the VHTs):
    %br/
    = text_area_tag :descr, '', {:cols => 55, :rows => 3, :style => 'height: 4em'}
  = field_set_tag do
    Application code (<i>i.e.</i>, the opcodes executed by the installed client application):
    %br/
    = text_area_tag :code, '{show This questionnaire is incomplete.}{exit}'

  %br/
  = submit_tag 'New Questionnaire'
