- if request[:name] then
  .jarring
    = request[:name]
  = link_to %[Send a message to all members of #{request[:name]}.], messaging_path(:dest => request[:name])
  %br/
  = link_to %[See all tags.], tag_path
  %hr/
  .sysusers{:class => 'span-24'}
    - @users.each do |user|
      .sysuser{:class => 'span-24 respond'}
        .name{:class => 'span-8'}
          = link_to user.name, users_path(:userid => user.id)
        .number{:class => 'span-8'}
          - if user.code then
            = user.code
            = surround '(', ')' do
              = link_to user.number, messaging_path(:dest => user.number)
          - else
            = link_to user.number, messaging_path(:dest => user.number)
        .metadata{:class => 'span-8 last'}
          - first = true
          - user.user_tags.each do |tag|
            - unless first then
              &bull;
            = link_to tag.name, tag_path(:name => tag.name)
            - first = false
          = button_to %[Delete #{user.name}], delete_user_path(user)
  = # will_paginate @users
- else
  .tags
    - @tags.each do |tag|
      .tag
        = link_to tag.name, tag_path(:name => tag.name)
  = # will_paginate @tags
