- if @user then
  .jarring
    = @user.name
  .subtitle
    = @user.number
    %br/
    = link_to %[Send #{@user.name} a message], messaging_path(:dest => @user.number)
  %hr/
  - got = 0
  .tags
    - tags = @user.user_tags
    - tags.each do |tag|
      - unless got == (tags.length - 1) then
        = succeed ',' do
          %span{:class => 'tag'}
            = link_to tag.name, tag_path(:name => tag.name)
      - else
        %span{:class => 'tag'}
          = link_to tag.name, tag_path(:name => tag.name)
      - got = got + 1
    %hr/
    = form_tag delete_tag_path(@user) do
      Remove tag from
      = succeed ':' do
        = @user.name
      %br/
      = field_set_tag do
        %select{:name => 'name'}
          - tags.each do |tag|
            %option{:value => tag.name}
              = tag.name
      = submit_tag 'Remove Tag'
  - unless got.zero? then
    %hr/
  = form_tag create_tag_path(@user) do
    Add a tag to
    = succeed ':' do
      = @user.name
    = field_set_tag do
      = text_field_tag :name, '', {:size => 55}
    = submit_tag 'Add Tag'
  %hr/
  .pdus
  - @subs.each do |sub|
    .pdu
      .message
        = sub.pdu
      .time{:class => 'subtitle'}
        Sent in
        = time_ago_in_words sub.created_at.localtime
        ago, at
        = sub.created_at.localtime.strftime('%X, on the %d of %B, %Y')
  = will_paginate @subs
- else
  .jarring
    Management of
    = @client.name
    Users
  %hr/
  - if flash[:error] then
    .error
      = flash[:error]
  Add a user to the system:
  = form_tag create_user_path do
    = field_set_tag do
      Name:
      %br/
      = text_field_tag :name, '', {:size => 55}
    = field_set_tag do
      Phone Number:
      %br/
      = text_field_tag :number, '', {:size => 55}
    = field_set_tag do
      Tags (comma-separated):
      %br/
      = text_field_tag :tags, '', {:size => 55}
    = submit_tag 'Add User'
  %hr/

  .sysusers{:class => 'span-24'}
    - @users.each do |user|
      .sysuser{:class => 'span-24'}
        .name{:class => 'span-8'}
          = link_to user.name, users_path(:userid => user.id)
        .number{:class => 'span-8'}
          - if user.code then
            = user.code
            = surround '(', ')' do
              = link_to user.number, messaging_path(:dest => user.number)
          - else
            = link_to user.number, messaging_path(:dest => user.number)
        .metadata{:class => 'span-8 last'}
          - user.user_tags.each do |tag|
            = link_to tag.name, tag_path(:name => tag.name)
          = button_to %[Delete #{user.name}], delete_user_path(user), {:confirm => %[#{user.name} will be deleted forever. Are you sure?]}
  
  = will_paginate @users
