!!!
%html
  %head
    - title = yield(:title).strip
    %title #{(title.empty? ? 'inSCALE Management Interface' : title)}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main{:class => 'container'}
      #header{:class => 'span-24'}
        #logopart{:class => 'span-8'}
          %img{:src => asset_path('inscale.png')}
        #taglinepart{:class => 'span-16 last'}
          Management Interface
      #trunk{:class => 'span-20 prepend-2 append-2'}
        .navbar
          %ul
            - if session[:client] then
              %li
                %a{:href => home_path} Questionnaires
              %li
                %a{:href => clients_path} Downloads
              %li
                %a{:href => messaging_path} Messaging
              %li
                %a{:href => feedback_path} Feedback Queue
              %li
                %a{:href => tag_path} Tags
              %li
                %a{:href => users_path} User Management
              - if Publisher.count > 1 then
                %li
                  %a{:href => publisher_path} Publishers
            - if session[:client] or session[:root] or session[:stat] then
              %li
                %a{:href => auth_path(:who => :logout)} Log out
          %hr/
        = yield
      #footer{:class => 'span-24'}
        &copy; 2011, 
        = succeed '.' do
          %a{:href => 'http://www.malariaconsortium.org/inscale/'} The inSCALE Project
        All Rights Reserved
