!!!
%html
  %head
    - title = yield(:title).strip
    %title #{(title.empty? ? 'inSCALE Management Interface' : title)}
    - # = stylesheet_link_tag    "application"
    - # = javascript_include_tag "application"
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{src: "/statics/javascripts/juif.js"}
    %script{src: "/statics/javascripts/inscale.js"}
    %script{type: "text/javascript", src: "https://www.google.com/jsapi"}
    %script{type: 'text/javascript'}
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawTimeCreeper);
    %link{rel: "stylesheet", href: "/statics/stylesheets/blueprint/screen.css", type: "text/css"}/
    %link{rel: "stylesheet", href: "/statics/stylesheets/inscale.css", type: "text/css", media: "print,screen"}/
    %meta{name: "Content-Type", content: "text/html; encoding=UTF-8"}/
    = csrf_meta_tags
  %body
    #main{:class => %[container#{if flash[:flashy] then ' dotherounds' else '' end}]}
      #header{:class => 'span-24'}
        #logopart{:class => 'span-8'}
          %img{:src => asset_path('inscale.png')}
        #taglinepart{:class => 'span-16 last'}
          Management Interface
      #trunk{:class => 'span-20 prepend-2 append-2'}
        .navbar
          %ul
            - if session[:client] then
              %li
                %a{:href => home_path} Questionnaires
              %li
                %a{:href => clients_path} Downloads
              %li
                %a{:href => messaging_path} Messaging
              %li
                %a{:href => feedback_path} Feedback Queue
              %li
                %a{:href => tag_path} Tags
              %li
                %a{:href => responses_path} Responses
              %li
                %a{:href => motivators_path} Motivational Messages
              %li
                %a{:href => users_path} User Management
              %li
                %a{:href => activity_path} Activity
              %li
                %a{:href => locations_path} Locations
              %li
                %a{:href => search_path} User Search
              - if Publisher.count > 1 then
                %li
                  %a{:href => publisher_path} Publishers
              %li
                %a{:href => admins_path} Admins
              %li
                %a{:href => mails_path} Mails
              %li
                %a{:href => periodic_path} Periodic Jobs
              %li
                %a{:href => system_health_path} System Health
            - if session[:stat] or session[:dist] then
              %li
                %a{:href => csv_path, :id => 'exceldownload'} Download as Excel
            - if session[:client] or session[:root] or session[:stat] or session[:dist] then
              %li
                %a{:href => auth_path(:who => :logout)} Log out
          %hr/
        - if flash[:message] then
          .message
            = flash[:message]
        - if flash[:error] then
          .error
            = flash[:error]
        = yield
      #footer{:class => 'span-24'}
        &copy; 2011, 
        = succeed '.' do
          %a{:href => 'http://www.malariaconsortium.org/inscale/'} The inSCALE Project
        All Rights Reserved
